
# These "stages" are actually separately initiated VMs, so better used for different configurations, etc
stages:
  - lint
  - assemble
  - build
  - test
  - deploy_internally

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

lintVitalRelease:
  stage: lint
  tags:
    - m1-baremetal
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  script:
    - ./gradlew :src:lintVitalRelease

assemble:
  stage: assemble
  tags:
    - m1-baremetal
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  script:
    - ./gradlew assemble

mp_build:
  stage: build
  tags:
    - m1-baremetal
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  script:
    - ./gradlew build -x :src:lintDebug # Skips android linter with 356 errors, 500 warnings.

commonJvmTest: #
  stage: test
  tags:
    - m1-baremetal
  script:
    - ./gradlew :src:cleanJvmTest :src:jvmTest

commonMacosArm64Test:
  stage: test
  tags:
    - m1-baremetal
  script:
    - ./gradlew :src:cleanMacosArm64Test :src:macosArm64Test

commonIOSArm64Test:
  stage: test
  tags:
    - m1-baremetal
  image: macos-13-xcode-14
  script:
    - ./gradlew :src:cleanIosSimulatorArm64Test :src:iosSimulatorArm64Test

testflight:
  allow_failure: true # Draft for mp branch fastlane testflight deployment
  stage: deploy_internally
  tags:
    - m1-baremetal
  script:
    # - TODO: Install fastlane
    - bundle exec fastlane ios beta --verbose