local.properties
.idea
.gradle
**build
i18n/*.bin
i18n/*.jar
dwally.log*
src/dwally.log*
src/*.db
*.db
src/release/
/iosApp/iosApp.app.dSYM.zip
/iosApp/fastlane/report.xml
/iosApp/iosApp.xcodeproj/xcuserdata/
/iosApp/fastlane/keys/
/iosApp/iosApp.ipa
/iosApp/.env
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
