image: andrewstone/nexaadk:latest

# These "stages" are actually separately initiated VMs, so better used for different configurations, etc
stages:
  - docs
  - lint
  - test
  - coverage
  - assemble # This job should be last before deploy because it runs for one hour. This job can be decoupled (see taskTree).
  - deploy_internally
  - deploy_beta

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always

before_script:
  - GIT_COMMIT_HASH=$(git rev-parse --short HEAD)
  - export GIT_COMMIT_HASH
  - 'echo "Current Git commit hash: $GIT_COMMIT_HASH"'
  - ./gradlew generateVersionFile

variables:
  VERSION_CODE_RAW: ${CI_PIPELINE_IID}+${VERSION_BUMPER}
  VERSION_CODE_RENDER: $(($VERSION_CODE_RAW))

tasks:
  stage: docs
  tags:
    - m1-baremetal
  script:
    - ./gradlew tasks

taskTree:
  stage: docs
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  tags:
    - m1-baremetal
  script:
    - ./gradlew build taskTree # Print taskTree for ./gradlew build

kDoctor:
  stage: docs
  tags:
    - m1-baremetal
  script:
    - brew install kdoctor
    - kdoctor

lintVitalRelease:
  stage: lint
  tags:
    - m1-baremetal
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  script:
    - ./gradlew :src:lintVitalRelease

lint:
  stage: lint
  tags:
    - m1-baremetal
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  script:
    - ./gradlew lint -x :src:lintDebug # Skips android linter with 356 errors, 500 warnings.

appJar:
  stage: assemble
  script:
    - ./gradlew appJar
  artifacts:
    paths:
      - src/build/libs/wpw.jar

assemble:
  stage: assemble
  tags:
    - m1-baremetal
  variables:
    ANDROID_HOME: "/opt/homebrew/share/android-commandlinetools"
  script:
    - ./gradlew assemble
    - ./gradlew :src:allMetadataJar
    - ./gradlew :src:assembleDebug
    - ./gradlew :src:assembleRelease

compileIos:
  stage: assemble
  tags:
    - m1-baremetal
  script:
    - ./gradlew :src:compileKotlinIosArm64
    - ./gradlew :src:compileKotlinIosSimulatorArm64
    - ./gradlew :src:compileKotlinIosX64
    - ./gradlew :src:iosArm64MetadataElements
    - ./gradlew :src:iosSimulatorArm64MetadataElements
    - ./gradlew :src:iosX64MetadataElements

jvmJar:
  stage: assemble
  tags:
    - m1-baremetal
  script:
    - ./gradlew :src:jvmJar

jvmJar-intelmac:
  stage: assemble
  tags:
    - intelmac-baremetal
  script:
    - ./gradlew :src:jvmJar

iosArm64Test:
  stage: test
  tags:
    - m1-baremetal
  resource_group: iphone_mac_emulators
  script:
    - ./gradlew :src:cleanIosSimulatorArm64Test :src:iosSimulatorArm64Test
  artifacts:
    when: always
    paths:
      - src/build/reports/tests/iosSimulatorArm64Test/index.html
      - src/build/reports/tests/iosSimulatorArm64Test/**/**.html

iosX64Test:
  stage: test
  tags:
    - m1-baremetal
  script:
    - ./gradlew :src:iosX64Test

iosEmulatorUiTest:
  stage: test
  resource_group: iphone_mac_emulator
  tags:
    - m1-baremetal
  script:
    - cd iosApp
    - gem install bundler
    - gem install fastlane
    - bundle install
    - bundle update
    - bundle exec fastlane ios test_emulator
  artifacts:
    when: always
    reports:
      junit: iosApp/fastlane/report.xml
    paths:
      - iosApp/fastlane/report.xml
      - iosApp/fastlane/test_output/report.html
      - iosApp/fastlane/test_output/report.junit

iosDeviceUiTest:
  stage: test
  resource_group: iphone_mac_emulator
  tags:
    - m1-baremetal
  script:
    - cd iosApp
    - gem install xcpretty
    - ./rundevicetests.sh $DEVICE_UDID
  artifacts:
    reports:
      junit: iosApp/iphone-ui-test-report.xml
    expire_in: 4 week

jvmTest: #
  stage: test
  tags:
    - m1-baremetal
  script:
    - ./gradlew :src:cleanJvmTest :src:jvmTest
  artifacts:
    reports:
      junit: src/build/test-results/jvmTest/TEST-*.xml

jvmTest-intelmac: #
  stage: test
  tags:
    - intelmac-baremetal
  script:
    - ./gradlew :src:cleanJvmTest :src:jvmTest
  artifacts:
    reports:
      junit: src/build/test-results/jvmTest/TEST-*.xml
    paths:
      - src/build/reports/tests/jvmTest/**/**

androidEmulatorTest:
  stage: test
  tags:
    - m1-baremetal # default docker image is not working
  resource_group: pixel5_mac_emulators
  script:
    - ./gradlew pixel5Check
    - ./gradlew pixel5DebugAndroidTest
  artifacts:
    reports:
      junit: src/build/test-results/connectedAndroidTest/TEST-*.xml
    paths:
      - src/build/reports/androidTests/managedDevice/debug/pixel5/**/**

# Needs Android device in CI to run
#androidDeviceTest:
#  image: inovex/gitlab-ci-android
#  stage: test
#  before_script:
#    - export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
#  script:
#    - ./gradlew :src:connectedAndroidTest
#  artifacts:
#    reports:
#      junit: src/build/test-results/connectedAndroidTest/TEST-*.xml

# Compose UI tests breaks code coverage reports
#testCoverageReport:
#  image: inovex/gitlab-ci-android
#  stage: coverage
#  script:
#    - ./gradlew koverXmlReport koverHtmlReport
#  artifacts:
#    expire_in: 4 week
#    paths:
#      - src/build/reports/kover/report.xml
#      - src/build/reports/kover/html

# Compose UI tests breaks code coverage reports
#pages:
#  stage: coverage
#  needs:
#    - testCoverageReport
#  rules:
#    - if: $CI_COMMIT_REF_PROTECTED == "true"
#  script:
#    - mkdir public
#    - cp -r src/build/reports/kover/html/* public/
#  artifacts:
#    expire_in: 4 week
#    paths:
#      - public


# Compose UI tests breaks code coverage reports
# Code coverage reporter for common, JVM and android
#codeCoveragePercent:
#  image: inovex/gitlab-ci-android
#  stage: coverage
#  script:
#    - ./gradlew koverLog
#  coverage: '/application line coverage: ([0-9]+(?:\.[0-9]+)?)%/' # Reports coverage to GitLab

testflight:
  rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
  stage: deploy_internally
  tags:
    - m1-baremetal
  script:
    - mkdir iosApp/fastlane/keys
    # setting up ".env" file
    - echo "APP_STORE_CONNECT_API_KEY_PATH=$APP_STORE_CONNECT_API_KEY_PATH" >> iosApp/.env
    - echo "APPLE_ID=$APPLE_ID" >> iosApp/.env
    - echo "ITC_TEAM_ID=$ITC_TEAM_ID" >> iosApp/.env
    - echo "TEAM_ID=$TEAM_ID" >> iosApp/.env
    # setting up fastlane keys: json
    # see this for the correct quoting
    # https://docs.gitlab.com/ee/ci/yaml/script.html#use-special-characters-with-script
    - echo $KEYSJSON | base64 --decode > iosApp/fastlane/keys/$key_id.json
    # setting up fastlane keys: p8
    - echo $KEYSP8 | base64 --decode > iosApp/fastlane/keys/$key_id.p8
    # Run fastlane
    - cd iosApp/
    - gem install bundler
    - gem install fastlane
    - bundle install
    - bundle update
    - bundle exec fastlane ios beta --verbose

testflight_public:
  environment:
    name: "beta deploy"
  allow_failure: false
  only:
    - main
  when: manual
  stage: deploy_beta
  tags:
    - m1-baremetal
  script:
    - mkdir iosApp/fastlane/keys
    # setting up ".env" file
    - echo "APP_STORE_CONNECT_API_KEY_PATH=$APP_STORE_CONNECT_API_KEY_PATH" >> iosApp/.env
    - echo "APPLE_ID=$APPLE_ID" >> iosApp/.env
    - echo "ITC_TEAM_ID=$ITC_TEAM_ID" >> iosApp/.env
    - echo "TEAM_ID=$TEAM_ID" >> iosApp/.env
    # setting up fastlane keys: json
    # see this for the correct quoting
    # https://docs.gitlab.com/ee/ci/yaml/script.html#use-special-characters-with-script
    - echo $KEYSJSON | base64 --decode > iosApp/fastlane/keys/$key_id.json
    # setting up fastlane keys: p8
    - echo $KEYSP8 | base64 --decode > iosApp/fastlane/keys/$key_id.p8
    # Run fastlane
    - cd iosApp/
    - gem install bundler
    - gem install fastlane
    - bundle install
    - bundle update
    - bundle exec fastlane ios beta_public --verbose
